<!DOCTYPE html>
<html lang="en-GB">

<head>
    <title{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/code">Code</a></li>
        </ul>
    </nav>
    <div class="contianer">
    
    {{ content }}
    
    </div>
    
    <footer>
    		<ul>
        		<li><a href="mailto:scot.wheeler08@imperial.ac.uk">email</a></li>
        		<li><a href="https://github.com/scotwheeler">github.com/scotwheeler</a></li>
			</ul>
		</footer>
</body>

</html>
